In [1]:
import pandas as pd
user_cols=['user id','age','gender','occupation','zip code']
users=pd.read_csv('http://bit.ly/movieusers',sep='|',header=None,names=user_cols)
users

     user id  age gender     occupation zip code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
5          6   42      M      executive    98101
6          7   57      M  administrator    91344
7          8   36      M  administrator    05201
8          9   29      M        student    01002
9         10   53      M         lawyer    90703
10        11   39      F          other    30329
11        12   28      F          other    06405
12        13   47      M       educator    29206
13        14   45      M      scientist    55106
14        15   49      F       educator    97301
15        16   21      M  entertainment    10309
16        17   30      M     programmer    06355
17        18   35      F          other    37212
18        19   40      M      librarian    02138
19        20   42      F      homemaker    95660
20        21   26      M         writer    30068
21        22   25      M         writer    40206
22        23   30      F         artist    48197
23        24   21      F         artist    94533
24        25   39      M       engineer    55107
25        26   49      M       engineer    21044
26        27   40      F      librarian    30030
27        28   32      M         writer    55369
28        29   41      M     programmer    94043
29        30    7      M        student    55436
..       ...  ...    ...            ...      ...
913      914   44      F          other    08105
914      915   50      M  entertainment    60614
915      916   27      M       engineer    N2L5N
916      917   22      F        student    20006
917      918   40      M      scientist    70116
918      919   25      M          other    14216
919      920   30      F         artist    90008
920      921   20      F        student    98801
921      922   29      F  administrator    21114
922      923   21      M        student    E2E3R
923      924   29      M          other    11753
924      925   18      F       salesman    49036
925      926   49      M  entertainment    01701
926      927   23      M     programmer    55428
927      928   21      M        student    55408
928      929   44      M      scientist    53711
929      930   28      F      scientist    07310
930      931   60      M       educator    33556
931      932   58      M       educator    06437
932      933   28      M        student    48105
933      934   61      M       engineer    22902
934      935   42      M         doctor    66221
935      936   24      M          other    32789
936      937   48      M       educator    98072
937      938   38      F     technician    55038
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

In [2]:
users.head()

   user id  age gender  occupation zip code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [4]:
ufo=pd.read_csv('http://bit.ly/uforeports',sep=',')
ufo

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
5,Valley City,NaN,DISK,ND,9/15/1934 15:30
6,Crater Lake,NaN,CIRCLE,CA,6/15/1935 0:00
7,Alma,NaN,DISK,MI,7/15/1936 0:00
8,Eklutna,NaN,CIGAR,AK,10/15/1936 17:00
9,Hubbard,NaN,CYLINDER,OR,6/15/1937 0:00
10,Fontana,NaN,LIGHT,CA,8/15/1937 21:00
11,Waterloo,NaN,FIREBALL,AL,6/1/1939 20:00
12,Belton,RED,SPHERE,SC,6/30/1939 20:00
13,Keokuk,NaN,OVAL,IA,7/7/1939 2:00
14,Ludington,NaN,DISK,MI,6/1/1941 13:00
15,Forest Home,NaN,CIRCLE,CA,7/2/1941 11:30
16,Los Angeles,NaN,NaN,CA,2/25/1942 0:00
17,Hapeville,NaN,NaN,GA,6/1/1942 22:30
18,Oneida,NaN,RECTANGLE,TN,7/15/1942 1:00
19,Bering Sea,RED,OTHER,AK,4/30/1943 23:00
20,Nebraska,NaN,DISK,NE,6/1/1943 15:00
21,NaN,NaN,NaN,LA,8/15/1943 0:00
22,NaN,NaN,LIGHT,LA,8/15/1943 0:00
23,Owensboro,NaN,RECTANGLE,KY,10/15/1943 11:00
24,Wilderness,NaN,DISK,WV,1/1/1944 10:00
25,San Diego,NaN,CIGAR,CA,1/1/1944 12:00
26,Wilderness,NaN,DISK,WV,1/1/1944 12:00
27,Clovis,NaN,DISK,NM,4/2/1944 11:00
28,Los Alamos,NaN,DISK,NM,6/1/1944 12:00
29,Ft. Duschene,NaN,DISK,UT,6/30/1944 10:00
...,...,...,...,...,...
18211,Holyoke,NaN,DIAMOND,MA,12/28/2000 18:00
18212,Carson,NaN,DISK,CA,12/28/2000 18:20
18213,Pasadena,GREEN,FIREBALL,CA,12/28/2000 19:10
18214,Austin,NaN,FORMATION,TX,12/29/2000 0:00
18215,El Campo,NaN,OTHER,TX,12/29/2000 9:00
18216,Garden Grove,ORANGE,LIGHT,CA,12/29/2000 16:10
18217,Berthoud Pass,NaN,TRIANGLE,CO,12/29/2000 19:30
18218,Sisterdale,NaN,DIAMOND,TX,12/29/2000 20:00
18219,Garden Grove,NaN,CHEVRON,CA,12/29/2000 20:30
18220,Shasta Lake,BLUE,DISK,CA,12/29/2000 20:30
18221,Franklin,NaN,DISK,NH,12/29/2000 20:50
18222,Albrightsville,NaN,OTHER,PA,12/29/2000 21:00
18223,Greenville,NaN,NaN,SC,12/29/2000 22:00
18224,Eufaula,NaN,DISK,OK,12/29/2000 23:30
18225,Simi Valley,NaN,FORMATION,CA,12/30/2000 10:00
18226,San Francisco,NaN,FORMATION,CA,12/30/2000 22:00
18227,San Francisco,NaN,TRIANGLE,CA,12/30/2000 22:00
18228,Kingsville,NaN,LIGHT,TX,12/31/2000 4:00
18229,Chicago,NaN,DISK,IL,12/31/2000 11:45
18230,Pismo Beach,NaN,OVAL,CA,12/31/2000 20:00
18231,Pismo Beach,NaN,OVAL,CA,12/31/2000 20:00
18232,Lodi,NaN,NaN,WI,12/31/2000 20:30
18233,Anchorage,RED,VARIOUS,AK,12/31/2000 21:00
18234,Capitola,NaN,TRIANGLE,CA,12/31/2000 22:00
18235,Fountain Hills,NaN,NaN,AZ,12/31/2000 23:00
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

In [5]:
temp=pd.DataFrame(ufo)
temp

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
5,Valley City,NaN,DISK,ND,9/15/1934 15:30
6,Crater Lake,NaN,CIRCLE,CA,6/15/1935 0:00
7,Alma,NaN,DISK,MI,7/15/1936 0:00
8,Eklutna,NaN,CIGAR,AK,10/15/1936 17:00
9,Hubbard,NaN,CYLINDER,OR,6/15/1937 0:00
10,Fontana,NaN,LIGHT,CA,8/15/1937 21:00
11,Waterloo,NaN,FIREBALL,AL,6/1/1939 20:00
12,Belton,RED,SPHERE,SC,6/30/1939 20:00
13,Keokuk,NaN,OVAL,IA,7/7/1939 2:00
14,Ludington,NaN,DISK,MI,6/1/1941 13:00
15,Forest Home,NaN,CIRCLE,CA,7/2/1941 11:30
16,Los Angeles,NaN,NaN,CA,2/25/1942 0:00
17,Hapeville,NaN,NaN,GA,6/1/1942 22:30
18,Oneida,NaN,RECTANGLE,TN,7/15/1942 1:00
19,Bering Sea,RED,OTHER,AK,4/30/1943 23:00
20,Nebraska,NaN,DISK,NE,6/1/1943 15:00
21,NaN,NaN,NaN,LA,8/15/1943 0:00
22,NaN,NaN,LIGHT,LA,8/15/1943 0:00
23,Owensboro,NaN,RECTANGLE,KY,10/15/1943 11:00
24,Wilderness,NaN,DISK,WV,1/1/1944 10:00
25,San Diego,NaN,CIGAR,CA,1/1/1944 12:00
26,Wilderness,NaN,DISK,WV,1/1/1944 12:00
27,Clovis,NaN,DISK,NM,4/2/1944 11:00
28,Los Alamos,NaN,DISK,NM,6/1/1944 12:00
29,Ft. Duschene,NaN,DISK,UT,6/30/1944 10:00
...,...,...,...,...,...
18211,Holyoke,NaN,DIAMOND,MA,12/28/2000 18:00
18212,Carson,NaN,DISK,CA,12/28/2000 18:20
18213,Pasadena,GREEN,FIREBALL,CA,12/28/2000 19:10
18214,Austin,NaN,FORMATION,TX,12/29/2000 0:00
18215,El Campo,NaN,OTHER,TX,12/29/2000 9:00
18216,Garden Grove,ORANGE,LIGHT,CA,12/29/2000 16:10
18217,Berthoud Pass,NaN,TRIANGLE,CO,12/29/2000 19:30
18218,Sisterdale,NaN,DIAMOND,TX,12/29/2000 20:00
18219,Garden Grove,NaN,CHEVRON,CA,12/29/2000 20:30
18220,Shasta Lake,BLUE,DISK,CA,12/29/2000 20:30
18221,Franklin,NaN,DISK,NH,12/29/2000 20:50
18222,Albrightsville,NaN,OTHER,PA,12/29/2000 21:00
18223,Greenville,NaN,NaN,SC,12/29/2000 22:00
18224,Eufaula,NaN,DISK,OK,12/29/2000 23:30
18225,Simi Valley,NaN,FORMATION,CA,12/30/2000 10:00
18226,San Francisco,NaN,FORMATION,CA,12/30/2000 22:00
18227,San Francisco,NaN,TRIANGLE,CA,12/30/2000 22:00
18228,Kingsville,NaN,LIGHT,TX,12/31/2000 4:00
18229,Chicago,NaN,DISK,IL,12/31/2000 11:45
18230,Pismo Beach,NaN,OVAL,CA,12/31/2000 20:00
18231,Pismo Beach,NaN,OVAL,CA,12/31/2000 20:00
18232,Lodi,NaN,NaN,WI,12/31/2000 20:30
18233,Anchorage,RED,VARIOUS,AK,12/31/2000 21:00
18234,Capitola,NaN,TRIANGLE,CA,12/31/2000 22:00
18235,Fountain Hills,NaN,NaN,AZ,12/31/2000 23:00
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

In [6]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [7]:
ufo['Colors Reported']

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
5           NaN
6           NaN
7           NaN
8           NaN
9           NaN
10          NaN
11          NaN
12          RED
13          NaN
14          NaN
15          NaN
16          NaN
17          NaN
18          NaN
19          RED
20          NaN
21          NaN
22          NaN
23          NaN
24          NaN
25          NaN
26          NaN
27          NaN
28          NaN
29          NaN
          ...
18211       NaN
18212       NaN
18213     GREEN
18214       NaN
18215       NaN
18216    ORANGE
18217       NaN
18218       NaN
18219       NaN
18220      BLUE
18221       NaN
18222       NaN
18223       NaN
18224       NaN
18225       NaN
18226       NaN
18227       NaN
18228       NaN
18229       NaN
18230       NaN
18231       NaN
18232       NaN
18233       RED
18234       NaN
18235       NaN
18236       NaN
18237       NaN
18238       NaN
18239       RED
18240       NaN
Name: Colors Reported, Length: 18241, dtype: object

In [8]:
ufo['City']

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
5                 Valley City
6                 Crater Lake
7                        Alma
8                     Eklutna
9                     Hubbard
10                    Fontana
11                   Waterloo
12                     Belton
13                     Keokuk
14                  Ludington
15                Forest Home
16                Los Angeles
17                  Hapeville
18                     Oneida
19                 Bering Sea
20                   Nebraska
21                        NaN
22                        NaN
23                  Owensboro
24                 Wilderness
25                  San Diego
26                 Wilderness
27                     Clovis
28                 Los Alamos
29               Ft. Duschene
                 ...
18211                 Holyoke
18212                  Carson
18213                Pasadena
18214                  Austin
18215                El Campo
18216            Garden Grove
18217           Berthoud Pass
18218              Sisterdale
18219            Garden Grove
18220             Shasta Lake
18221                Franklin
18222          Albrightsville
18223              Greenville
18224                 Eufaula
18225             Simi Valley
18226           San Francisco
18227           San Francisco
18228              Kingsville
18229                 Chicago
18230             Pismo Beach
18231             Pismo Beach
18232                    Lodi
18233               Anchorage
18234                Capitola
18235          Fountain Hills
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

In [9]:
#or
ufo.City
#but it is not a good practice

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
5                 Valley City
6                 Crater Lake
7                        Alma
8                     Eklutna
9                     Hubbard
10                    Fontana
11                   Waterloo
12                     Belton
13                     Keokuk
14                  Ludington
15                Forest Home
16                Los Angeles
17                  Hapeville
18                     Oneida
19                 Bering Sea
20                   Nebraska
21                        NaN
22                        NaN
23                  Owensboro
24                 Wilderness
25                  San Diego
26                 Wilderness
27                     Clovis
28                 Los Alamos
29               Ft. Duschene
                 ...
18211                 Holyoke
18212                  Carson
18213                Pasadena
18214                  Austin
18215                El Campo
18216            Garden Grove
18217           Berthoud Pass
18218              Sisterdale
18219            Garden Grove
18220             Shasta Lake
18221                Franklin
18222          Albrightsville
18223              Greenville
18224                 Eufaula
18225             Simi Valley
18226           San Francisco
18227           San Francisco
18228              Kingsville
18229                 Chicago
18230             Pismo Beach
18231             Pismo Beach
18232                    Lodi
18233               Anchorage
18234                Capitola
18235          Fountain Hills
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

In [10]:
ufo.isnull().sum()

City                  25
Colors Reported    15359
Shape Reported      2644
State                  0
Time                   0
dtype: int64

In [21]:
df.fillna(value='no_val',inplace=True)
df

,City,Colors Reported,Shape Reported,State,Time
12,Belton,RED,SPHERE,SC,6/30/1939 20:00
19,Bering Sea,RED,OTHER,AK,4/30/1943 23:00
36,Portsmouth,RED,FORMATION,VA,7/10/1945 1:30
44,Blairsden,GREEN,SPHERE,CA,6/30/1946 19:00
82,San Jose,BLUE,CHEVRON,CA,7/15/1947 21:00
84,Modesto,BLUE,DISK,CA,8/8/1947 22:00
91,Scipio,RED,SPHERE,IN,5/10/1948 19:00
111,Tarrant City,ORANGE,CIRCLE,AL,8/15/1949 22:00
129,Napa,GREEN,DISK,CA,6/10/1950 0:00
138,Coeur d'Alene,ORANGE,CIGAR,ID,7/2/1950 13:00
152,Irving,BLUE,DISK,KS,4/15/1951 0:30
157,Greenville,GREEN,DISK,MS,6/15/1951 20:30
163,Green River,GREEN,SPHERE,WY,7/3/1951 12:00
164,Provo,BLUE,DISK,UT,7/10/1951 23:30
174,Greenville,ORANGE,TRIANGLE,TX,4/15/1952 16:00
178,Norfolk,RED,FIREBALL,VA,6/1/1952 22:00
202,Arlington,GREEN,OVAL,VA,7/13/1952 21:00
226,Cambridge,RED,SPHERE,MA,4/1/1953 18:00
229,Midwest City,YELLOW,FIREBALL,OK,4/15/1953 16:00
238,Cleveland,RED,FIREBALL,OH,6/30/1953 0:00
249,Artesia,ORANGE,OTHER,NM,8/15/1953 19:00
256,Pendleton,GREEN,DISK,IN,11/21/1953 22:30
288,St. Louis Airport,RED,OVAL,MO,7/1/1954 21:00
289,Los Angeles,RED,CIRCLE,CA,7/1/1954 22:00
304,Beaumont,RED,DISK,TX,9/9/1954 12:30
311,Red Bank,ORANGE,CIRCLE,NJ,12/15/1954 23:10
314,Holbrook,YELLOW,EGG,MA,5/1/1955 15:00
323,Terre Haute,ORANGE,CIRCLE,IN,6/15/1955 0:00
354,Memphis,ORANGE,CYLINDER,TN,6/1/1956 20:00
363,Vista,ORANGE,CIGAR,CA,6/15/1956 19:15
...,...,...,...,...,...
18110,Gilbert,RED,LIGHT,AZ,12/11/2000 23:45
18115,Madison,RED GREEN,TEARDROP,OH,12/12/2000 18:45
18117,Concord,RED GREEN,CIRCLE,NH,12/12/2000 23:10
18121,Redwood Valley,BLUE,LIGHT,CA,12/15/2000 1:09
18123,Waldorf,GREEN,LIGHT,MD,12/15/2000 5:30
18127,North Pole,ORANGE,SPHERE,AK,12/15/2000 16:36
18129,Beaver,RED,DISK,PA,12/15/2000 18:25
18134,Graham,GREEN,LIGHT,WA,12/16/2000 0:20
18141,Sebastopol,YELLOW,CIRCLE,CA,12/17/2000 18:00
18144,Medina,ORANGE,TRIANGLE,OH,12/17/2000 19:30
18148,Highland Park,BLUE,VARIOUS,NJ,12/18/2000 2:30
18158,Woodland,ORANGE,LIGHT,CA,12/19/2000 23:30
18167,Gilbert,RED,CIRCLE,AZ,12/21/2000 19:05
18170,MM 110,BLUE,CIRCLE,AZ,12/22/2000 3:00
18172,Toomsuba,RED,OVAL,MS,12/23/2000 4:00
18177,Chandler,RED,LIGHT,AZ,12/23/2000 22:00
18181,Fortuna,ORANGE,CIRCLE,CA,12/24/2000 18:00
18184,Plymouth,GREEN,FIREBALL,OH,12/24/2000 22:00
18191,Fallston,RED,VARIOUS,MD,12/25/2000 19:15
18192,Atlanta,ORANGE,LIGHT,GA,12/25/2000 20:30
18194,Walpole,GREEN,FIREBALL,NH,12/26/2000 18:20
18195,Walpole,GREEN,FIREBALL,NH,12/26/2000 18:20
18196,Brocton,GREEN,OVAL,MA,12/26/2000 18:23
18197,Greenfiled,GREEN,FIREBALL,MA,12/26/2000 18:30
18210,Monument Valley,BLUE,OTHER,UT,12/28/2000 17:51
18213,Pasadena,GREEN,FIREBALL,CA,12/28/2000 19:10
18216,Garden Grove,ORANGE,LIGHT,CA,12/29/2000 16:10
18220,Shasta Lake,BLUE,DISK,CA,12/29/2000 20:30
18233,Anchorage,RED,VARIOUS,AK,12/31/2000 21:00
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45

In [14]:
df=pd.DataFrame(ufo)
df

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
5,Valley City,NaN,DISK,ND,9/15/1934 15:30
6,Crater Lake,NaN,CIRCLE,CA,6/15/1935 0:00
7,Alma,NaN,DISK,MI,7/15/1936 0:00
8,Eklutna,NaN,CIGAR,AK,10/15/1936 17:00
9,Hubbard,NaN,CYLINDER,OR,6/15/1937 0:00
10,Fontana,NaN,LIGHT,CA,8/15/1937 21:00
11,Waterloo,NaN,FIREBALL,AL,6/1/1939 20:00
12,Belton,RED,SPHERE,SC,6/30/1939 20:00
13,Keokuk,NaN,OVAL,IA,7/7/1939 2:00
14,Ludington,NaN,DISK,MI,6/1/1941 13:00
15,Forest Home,NaN,CIRCLE,CA,7/2/1941 11:30
16,Los Angeles,NaN,NaN,CA,2/25/1942 0:00
17,Hapeville,NaN,NaN,GA,6/1/1942 22:30
18,Oneida,NaN,RECTANGLE,TN,7/15/1942 1:00
19,Bering Sea,RED,OTHER,AK,4/30/1943 23:00
20,Nebraska,NaN,DISK,NE,6/1/1943 15:00
21,NaN,NaN,NaN,LA,8/15/1943 0:00
22,NaN,NaN,LIGHT,LA,8/15/1943 0:00
23,Owensboro,NaN,RECTANGLE,KY,10/15/1943 11:00
24,Wilderness,NaN,DISK,WV,1/1/1944 10:00
25,San Diego,NaN,CIGAR,CA,1/1/1944 12:00
26,Wilderness,NaN,DISK,WV,1/1/1944 12:00
27,Clovis,NaN,DISK,NM,4/2/1944 11:00
28,Los Alamos,NaN,DISK,NM,6/1/1944 12:00
29,Ft. Duschene,NaN,DISK,UT,6/30/1944 10:00
...,...,...,...,...,...
18211,Holyoke,NaN,DIAMOND,MA,12/28/2000 18:00
18212,Carson,NaN,DISK,CA,12/28/2000 18:20
18213,Pasadena,GREEN,FIREBALL,CA,12/28/2000 19:10
18214,Austin,NaN,FORMATION,TX,12/29/2000 0:00
18215,El Campo,NaN,OTHER,TX,12/29/2000 9:00
18216,Garden Grove,ORANGE,LIGHT,CA,12/29/2000 16:10
18217,Berthoud Pass,NaN,TRIANGLE,CO,12/29/2000 19:30
18218,Sisterdale,NaN,DIAMOND,TX,12/29/2000 20:00
18219,Garden Grove,NaN,CHEVRON,CA,12/29/2000 20:30
18220,Shasta Lake,BLUE,DISK,CA,12/29/2000 20:30
18221,Franklin,NaN,DISK,NH,12/29/2000 20:50
18222,Albrightsville,NaN,OTHER,PA,12/29/2000 21:00
18223,Greenville,NaN,NaN,SC,12/29/2000 22:00
18224,Eufaula,NaN,DISK,OK,12/29/2000 23:30
18225,Simi Valley,NaN,FORMATION,CA,12/30/2000 10:00
18226,San Francisco,NaN,FORMATION,CA,12/30/2000 22:00
18227,San Francisco,NaN,TRIANGLE,CA,12/30/2000 22:00
18228,Kingsville,NaN,LIGHT,TX,12/31/2000 4:00
18229,Chicago,NaN,DISK,IL,12/31/2000 11:45
18230,Pismo Beach,NaN,OVAL,CA,12/31/2000 20:00
18231,Pismo Beach,NaN,OVAL,CA,12/31/2000 20:00
18232,Lodi,NaN,NaN,WI,12/31/2000 20:30
18233,Anchorage,RED,VARIOUS,AK,12/31/2000 21:00
18234,Capitola,NaN,TRIANGLE,CA,12/31/2000 22:00
18235,Fountain Hills,NaN,NaN,AZ,12/31/2000 23:00
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

In [12]:
ufo.shape

(18241, 5)

In [15]:
df.dropna(inplace=True)
df.shape

(2486, 5)

In [18]:
df.isnull().sum()

City               0
Colors Reported    0
Shape Reported     0
State              0
Time               0
dtype: int64

In [16]:
df

,City,Colors Reported,Shape Reported,State,Time
12,Belton,RED,SPHERE,SC,6/30/1939 20:00
19,Bering Sea,RED,OTHER,AK,4/30/1943 23:00
36,Portsmouth,RED,FORMATION,VA,7/10/1945 1:30
44,Blairsden,GREEN,SPHERE,CA,6/30/1946 19:00
82,San Jose,BLUE,CHEVRON,CA,7/15/1947 21:00
84,Modesto,BLUE,DISK,CA,8/8/1947 22:00
91,Scipio,RED,SPHERE,IN,5/10/1948 19:00
111,Tarrant City,ORANGE,CIRCLE,AL,8/15/1949 22:00
129,Napa,GREEN,DISK,CA,6/10/1950 0:00
138,Coeur d'Alene,ORANGE,CIGAR,ID,7/2/1950 13:00
152,Irving,BLUE,DISK,KS,4/15/1951 0:30
157,Greenville,GREEN,DISK,MS,6/15/1951 20:30
163,Green River,GREEN,SPHERE,WY,7/3/1951 12:00
164,Provo,BLUE,DISK,UT,7/10/1951 23:30
174,Greenville,ORANGE,TRIANGLE,TX,4/15/1952 16:00
178,Norfolk,RED,FIREBALL,VA,6/1/1952 22:00
202,Arlington,GREEN,OVAL,VA,7/13/1952 21:00
226,Cambridge,RED,SPHERE,MA,4/1/1953 18:00
229,Midwest City,YELLOW,FIREBALL,OK,4/15/1953 16:00
238,Cleveland,RED,FIREBALL,OH,6/30/1953 0:00
249,Artesia,ORANGE,OTHER,NM,8/15/1953 19:00
256,Pendleton,GREEN,DISK,IN,11/21/1953 22:30
288,St. Louis Airport,RED,OVAL,MO,7/1/1954 21:00
289,Los Angeles,RED,CIRCLE,CA,7/1/1954 22:00
304,Beaumont,RED,DISK,TX,9/9/1954 12:30
311,Red Bank,ORANGE,CIRCLE,NJ,12/15/1954 23:10
314,Holbrook,YELLOW,EGG,MA,5/1/1955 15:00
323,Terre Haute,ORANGE,CIRCLE,IN,6/15/1955 0:00
354,Memphis,ORANGE,CYLINDER,TN,6/1/1956 20:00
363,Vista,ORANGE,CIGAR,CA,6/15/1956 19:15
...,...,...,...,...,...
18110,Gilbert,RED,LIGHT,AZ,12/11/2000 23:45
18115,Madison,RED GREEN,TEARDROP,OH,12/12/2000 18:45
18117,Concord,RED GREEN,CIRCLE,NH,12/12/2000 23:10
18121,Redwood Valley,BLUE,LIGHT,CA,12/15/2000 1:09
18123,Waldorf,GREEN,LIGHT,MD,12/15/2000 5:30
18127,North Pole,ORANGE,SPHERE,AK,12/15/2000 16:36
18129,Beaver,RED,DISK,PA,12/15/2000 18:25
18134,Graham,GREEN,LIGHT,WA,12/16/2000 0:20
18141,Sebastopol,YELLOW,CIRCLE,CA,12/17/2000 18:00
18144,Medina,ORANGE,TRIANGLE,OH,12/17/2000 19:30
18148,Highland Park,BLUE,VARIOUS,NJ,12/18/2000 2:30
18158,Woodland,ORANGE,LIGHT,CA,12/19/2000 23:30
18167,Gilbert,RED,CIRCLE,AZ,12/21/2000 19:05
18170,MM 110,BLUE,CIRCLE,AZ,12/22/2000 3:00
18172,Toomsuba,RED,OVAL,MS,12/23/2000 4:00
18177,Chandler,RED,LIGHT,AZ,12/23/2000 22:00
18181,Fortuna,ORANGE,CIRCLE,CA,12/24/2000 18:00
18184,Plymouth,GREEN,FIREBALL,OH,12/24/2000 22:00
18191,Fallston,RED,VARIOUS,MD,12/25/2000 19:15
18192,Atlanta,ORANGE,LIGHT,GA,12/25/2000 20:30
18194,Walpole,GREEN,FIREBALL,NH,12/26/2000 18:20
18195,Walpole,GREEN,FIREBALL,NH,12/26/2000 18:20
18196,Brocton,GREEN,OVAL,MA,12/26/2000 18:23
18197,Greenfiled,GREEN,FIREBALL,MA,12/26/2000 18:30
18210,Monument Valley,BLUE,OTHER,UT,12/28/2000 17:51
18213,Pasadena,GREEN,FIREBALL,CA,12/28/2000 19:10
18216,Garden Grove,ORANGE,LIGHT,CA,12/29/2000 16:10
18220,Shasta Lake,BLUE,DISK,CA,12/29/2000 20:30
18233,Anchorage,RED,VARIOUS,AK,12/31/2000 21:00
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45

In [17]:
df.isnull().sum()

City               0
Colors Reported    0
Shape Reported     0
State              0
Time               0
dtype: int64

In [20]:
df.fillna(value='no_val',inplace=True)
df

,City,Colors Reported,Shape Reported,State,Time
12,Belton,RED,SPHERE,SC,6/30/1939 20:00
19,Bering Sea,RED,OTHER,AK,4/30/1943 23:00
36,Portsmouth,RED,FORMATION,VA,7/10/1945 1:30
44,Blairsden,GREEN,SPHERE,CA,6/30/1946 19:00
82,San Jose,BLUE,CHEVRON,CA,7/15/1947 21:00
84,Modesto,BLUE,DISK,CA,8/8/1947 22:00
91,Scipio,RED,SPHERE,IN,5/10/1948 19:00
111,Tarrant City,ORANGE,CIRCLE,AL,8/15/1949 22:00
129,Napa,GREEN,DISK,CA,6/10/1950 0:00
138,Coeur d'Alene,ORANGE,CIGAR,ID,7/2/1950 13:00
152,Irving,BLUE,DISK,KS,4/15/1951 0:30
157,Greenville,GREEN,DISK,MS,6/15/1951 20:30
163,Green River,GREEN,SPHERE,WY,7/3/1951 12:00
164,Provo,BLUE,DISK,UT,7/10/1951 23:30
174,Greenville,ORANGE,TRIANGLE,TX,4/15/1952 16:00
178,Norfolk,RED,FIREBALL,VA,6/1/1952 22:00
202,Arlington,GREEN,OVAL,VA,7/13/1952 21:00
226,Cambridge,RED,SPHERE,MA,4/1/1953 18:00
229,Midwest City,YELLOW,FIREBALL,OK,4/15/1953 16:00
238,Cleveland,RED,FIREBALL,OH,6/30/1953 0:00
249,Artesia,ORANGE,OTHER,NM,8/15/1953 19:00
256,Pendleton,GREEN,DISK,IN,11/21/1953 22:30
288,St. Louis Airport,RED,OVAL,MO,7/1/1954 21:00
289,Los Angeles,RED,CIRCLE,CA,7/1/1954 22:00
304,Beaumont,RED,DISK,TX,9/9/1954 12:30
311,Red Bank,ORANGE,CIRCLE,NJ,12/15/1954 23:10
314,Holbrook,YELLOW,EGG,MA,5/1/1955 15:00
323,Terre Haute,ORANGE,CIRCLE,IN,6/15/1955 0:00
354,Memphis,ORANGE,CYLINDER,TN,6/1/1956 20:00
363,Vista,ORANGE,CIGAR,CA,6/15/1956 19:15
...,...,...,...,...,...
18110,Gilbert,RED,LIGHT,AZ,12/11/2000 23:45
18115,Madison,RED GREEN,TEARDROP,OH,12/12/2000 18:45
18117,Concord,RED GREEN,CIRCLE,NH,12/12/2000 23:10
18121,Redwood Valley,BLUE,LIGHT,CA,12/15/2000 1:09
18123,Waldorf,GREEN,LIGHT,MD,12/15/2000 5:30
18127,North Pole,ORANGE,SPHERE,AK,12/15/2000 16:36
18129,Beaver,RED,DISK,PA,12/15/2000 18:25
18134,Graham,GREEN,LIGHT,WA,12/16/2000 0:20
18141,Sebastopol,YELLOW,CIRCLE,CA,12/17/2000 18:00
18144,Medina,ORANGE,TRIANGLE,OH,12/17/2000 19:30
18148,Highland Park,BLUE,VARIOUS,NJ,12/18/2000 2:30
18158,Woodland,ORANGE,LIGHT,CA,12/19/2000 23:30
18167,Gilbert,RED,CIRCLE,AZ,12/21/2000 19:05
18170,MM 110,BLUE,CIRCLE,AZ,12/22/2000 3:00
18172,Toomsuba,RED,OVAL,MS,12/23/2000 4:00
18177,Chandler,RED,LIGHT,AZ,12/23/2000 22:00
18181,Fortuna,ORANGE,CIRCLE,CA,12/24/2000 18:00
18184,Plymouth,GREEN,FIREBALL,OH,12/24/2000 22:00
18191,Fallston,RED,VARIOUS,MD,12/25/2000 19:15
18192,Atlanta,ORANGE,LIGHT,GA,12/25/2000 20:30
18194,Walpole,GREEN,FIREBALL,NH,12/26/2000 18:20
18195,Walpole,GREEN,FIREBALL,NH,12/26/2000 18:20
18196,Brocton,GREEN,OVAL,MA,12/26/2000 18:23
18197,Greenfiled,GREEN,FIREBALL,MA,12/26/2000 18:30
18210,Monument Valley,BLUE,OTHER,UT,12/28/2000 17:51
18213,Pasadena,GREEN,FIREBALL,CA,12/28/2000 19:10
18216,Garden Grove,ORANGE,LIGHT,CA,12/29/2000 16:10
18220,Shasta Lake,BLUE,DISK,CA,12/29/2000 20:30
18233,Anchorage,RED,VARIOUS,AK,12/31/2000 21:00
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45

In [22]:
ufo['Location']=ufo.City + ',' + ufo.State

In [23]:
ufo.head()

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca,NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro,NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke,CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene,KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair,NY"

In [24]:
movies=pd.read_csv('http://bit.ly/imdbratings')
movies

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,Adventure,178,"[u'Elijah Wood', u'Ian McKellen', u'Orlando Bl..."
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'..."
12,8.8,Star Wars: Episode V - The Empire Strikes Back,PG,Action,124,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
13,8.8,Forrest Gump,PG-13,Drama,142,"[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']"
14,8.8,The Lord of the Rings: The Two Towers,PG-13,Adventure,179,"[u'Elijah Wood', u'Ian McKellen', u'Viggo Mort..."
15,8.7,Interstellar,PG-13,Adventure,169,"[u'Matthew McConaughey', u'Anne Hathaway', u'J..."
16,8.7,One Flew Over the Cuckoo's Nest,R,Drama,133,"[u'Jack Nicholson', u'Louise Fletcher', u'Mich..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
18,8.7,Goodfellas,R,Biography,146,"[u'Robert De Niro', u'Ray Liotta', u'Joe Pesci']"
19,8.7,Star Wars,PG,Action,121,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
20,8.7,The Matrix,R,Action,136,"[u'Keanu Reeves', u'Laurence Fishburne', u'Car..."
21,8.7,City of God,R,Crime,130,"[u'Alexandre Rodrigues', u'Matheus Nachtergael..."
22,8.7,It's a Wonderful Life,APPROVED,Drama,130,"[u'James Stewart', u'Donna Reed', u'Lionel Bar..."
23,8.7,The Usual Suspects,R,Crime,106,"[u'Kevin Spacey', u'Gabriel Byrne', u'Chazz Pa..."
24,8.7,Se7en,R,Drama,127,"[u'Morgan Freeman', u'Brad Pitt', u'Kevin Spac..."
25,8.6,Life Is Beautiful,PG-13,Comedy,116,"[u'Roberto Benigni', u'Nicoletta Braschi', u'G..."
26,8.6,Once Upon a Time in the West,PG-13,Western,175,"[u'Henry Fonda', u'Charles Bronson', u'Claudia..."
27,8.6,The Silence of the Lambs,R,Drama,118,"[u'Jodie Foster', u'Anthony Hopkins', u'Lawren..."
28,8.6,Leon: The Professional,R,Crime,110,"[u'Jean Reno', u'Gary Oldman', u'Natalie Portm..."
29,8.6,City Lights,PASSED,Comedy,87,"[u'Charles Chaplin', u'Virginia Cherrill', u'F..."
...,...,...,...,...,...,...
949,7.4,Home Alone,PG,Comedy,103,"[u'Macaulay Culkin', u'Joe Pesci', u'Daniel St..."
950,7.4,Bound,R,Crime,108,"[u'Jennifer Tilly', u'Gina Gershon', u'Joe Pan..."
951,7.4,Sleepy Hollow,R,Drama,105,"[u'Johnny Depp', u'Christina Ricci', u'Miranda..."
952,7.4,Pirate Radio,R,Comedy,117,"[u'Philip Seymour Hoffman', u'Bill Nighy', u'N..."
953,7.4,The NeverEnding Story,PG,Adventure,102,"[u'Noah Hathaway', u'Barret Oliver', u'Tami St..."
954,7.4,X-Men,PG-13,Action,104,"[u'Patrick Stewart', u'Hugh Jackman', u'Ian Mc..."
955,7.4,Zero Dark Thirty,R,Drama,157,"[u'Jessica Chastain', u'Joel Edgerton', u'Chri..."
956,7.4,Manhattan Murder Mystery,PG,Comedy,104,"[u'Woody Allen', u'Diane Keaton', u'Jerry Adler']"
957,7.4,National Lampoon's Vacation,R,Comedy,98,"[u'Chevy Chase', u""Beverly D'Angelo"", u'Imogen..."
958,7.4,My Sister's Keeper,PG-13,Drama,109,"[u'Cameron Diaz', u'Abigail Breslin', u'Alec B..."
959,7.4,Deconstructing Harry,R,Comedy,96,"[u'Woody Allen', u'Judy Davis', u'Julia Louis-..."
960,7.4,The Way Way Back,PG-13,Comedy,103,"[u'Steve Carell', u'Toni Collette', u'Allison ..."
961,7.4,Capote,R,Biography,114,"[u'Philip Seymour Hoffman', u'Clifton Collins ..."
962,7.4,Driving Miss Daisy,PG,Comedy,99,"[u'Morgan Freeman', u'Jessica Tandy', u'Dan Ay..."
963,7.4,La Femme Nikita,R,Action,118,"[u'Anne Parillaud', u'Marc Duret', u'Patrick F..."
964,7.4,Lincoln,PG-13,Biography,150,"[u'Daniel Day-Lewis', u'Sally Field', u'David ..."
965,7.4,Limitless,PG-13,Mystery,105,"[u'Bradley Cooper', u'Anna Friel', u'Abbie Cor..."
966,7.4,The Simpsons Movie,PG-13,Animation,87,"[u'Dan Castellaneta', u'Julie Kavner', u'Nancy..."
967,7.4,The Rock,R,Action,136,"[u'Sean Connery', u'Nicolas Cage', u'Ed Harris']"
968,7.4,The English Patient,R,Drama,162,"[u'Ralph Fiennes', u'Juliette Binoche', u'Will..."
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
970,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc..."
971,7.4,Death at a Funeral,R,Comedy,90,"[u'Matthew Macfadyen', u'Peter Dinklage', u'Ew..."
972,7.4,Blue Valentine,NC-17,Drama,112,"[u'Ryan Gosling', u'Michelle Williams', u'John..."
973,7.4,The Cider House Rules,PG-13,Drama,126,"[u'Tobey Maguire', u'Charlize Theron', u'Micha..."
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [25]:
movies.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [26]:
movies.describe(include=['object'])

,title,content_rating,genre,actors_list
count,979,976,979,979
unique,975,12,16,969
top,True Grit,R,Drama,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
freq,2,460,278,6

In [27]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time',
       'Location'],
      dtype='object')

In [28]:
ufo.rename(columns={'Colors Reported': 'Colors_Reported','Shape Reported':'Shape_Reported'},inplace=True)
ufo

,City,Colors_Reported,Shape_Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca,NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro,NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke,CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene,KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair,NY"
5,Valley City,NaN,DISK,ND,9/15/1934 15:30,"Valley City,ND"
6,Crater Lake,NaN,CIRCLE,CA,6/15/1935 0:00,"Crater Lake,CA"
7,Alma,NaN,DISK,MI,7/15/1936 0:00,"Alma,MI"
8,Eklutna,NaN,CIGAR,AK,10/15/1936 17:00,"Eklutna,AK"
9,Hubbard,NaN,CYLINDER,OR,6/15/1937 0:00,"Hubbard,OR"
10,Fontana,NaN,LIGHT,CA,8/15/1937 21:00,"Fontana,CA"
11,Waterloo,NaN,FIREBALL,AL,6/1/1939 20:00,"Waterloo,AL"
12,Belton,RED,SPHERE,SC,6/30/1939 20:00,"Belton,SC"
13,Keokuk,NaN,OVAL,IA,7/7/1939 2:00,"Keokuk,IA"
14,Ludington,NaN,DISK,MI,6/1/1941 13:00,"Ludington,MI"
15,Forest Home,NaN,CIRCLE,CA,7/2/1941 11:30,"Forest Home,CA"
16,Los Angeles,NaN,NaN,CA,2/25/1942 0:00,"Los Angeles,CA"
17,Hapeville,NaN,NaN,GA,6/1/1942 22:30,"Hapeville,GA"
18,Oneida,NaN,RECTANGLE,TN,7/15/1942 1:00,"Oneida,TN"
19,Bering Sea,RED,OTHER,AK,4/30/1943 23:00,"Bering Sea,AK"
20,Nebraska,NaN,DISK,NE,6/1/1943 15:00,"Nebraska,NE"
21,NaN,NaN,NaN,LA,8/15/1943 0:00,NaN
22,NaN,NaN,LIGHT,LA,8/15/1943 0:00,NaN
23,Owensboro,NaN,RECTANGLE,KY,10/15/1943 11:00,"Owensboro,KY"
24,Wilderness,NaN,DISK,WV,1/1/1944 10:00,"Wilderness,WV"
25,San Diego,NaN,CIGAR,CA,1/1/1944 12:00,"San Diego,CA"
26,Wilderness,NaN,DISK,WV,1/1/1944 12:00,"Wilderness,WV"
27,Clovis,NaN,DISK,NM,4/2/1944 11:00,"Clovis,NM"
28,Los Alamos,NaN,DISK,NM,6/1/1944 12:00,"Los Alamos,NM"
29,Ft. Duschene,NaN,DISK,UT,6/30/1944 10:00,"Ft. Duschene,UT"
...,...,...,...,...,...,...
18211,Holyoke,NaN,DIAMOND,MA,12/28/2000 18:00,"Holyoke,MA"
18212,Carson,NaN,DISK,CA,12/28/2000 18:20,"Carson,CA"
18213,Pasadena,GREEN,FIREBALL,CA,12/28/2000 19:10,"Pasadena,CA"
18214,Austin,NaN,FORMATION,TX,12/29/2000 0:00,"Austin,TX"
18215,El Campo,NaN,OTHER,TX,12/29/2000 9:00,"El Campo,TX"
18216,Garden Grove,ORANGE,LIGHT,CA,12/29/2000 16:10,"Garden Grove,CA"
18217,Berthoud Pass,NaN,TRIANGLE,CO,12/29/2000 19:30,"Berthoud Pass,CO"
18218,Sisterdale,NaN,DIAMOND,TX,12/29/2000 20:00,"Sisterdale,TX"
18219,Garden Grove,NaN,CHEVRON,CA,12/29/2000 20:30,"Garden Grove,CA"
18220,Shasta Lake,BLUE,DISK,CA,12/29/2000 20:30,"Shasta Lake,CA"
18221,Franklin,NaN,DISK,NH,12/29/2000 20:50,"Franklin,NH"
18222,Albrightsville,NaN,OTHER,PA,12/29/2000 21:00,"Albrightsville,PA"
18223,Greenville,NaN,NaN,SC,12/29/2000 22:00,"Greenville,SC"
18224,Eufaula,NaN,DISK,OK,12/29/2000 23:30,"Eufaula,OK"
18225,Simi Valley,NaN,FORMATION,CA,12/30/2000 10:00,"Simi Valley,CA"
18226,San Francisco,NaN,FORMATION,CA,12/30/2000 22:00,"San Francisco,CA"
18227,San Francisco,NaN,TRIANGLE,CA,12/30/2000 22:00,"San Francisco,CA"
18228,Kingsville,NaN,LIGHT,TX,12/31/2000 4:00,"Kingsville,TX"
18229,Chicago,NaN,DISK,IL,12/31/2000 11:45,"Chicago,IL"
18230,Pismo Beach,NaN,OVAL,CA,12/31/2000 20:00,"Pismo Beach,CA"
18231,Pismo Beach,NaN,OVAL,CA,12/31/2000 20:00,"Pismo Beach,CA"
18232,Lodi,NaN,NaN,WI,12/31/2000 20:30,"Lodi,WI"
18233,Anchorage,RED,VARIOUS,AK,12/31/2000 21:00,"Anchorage,AK"
18234,Capitola,NaN,TRIANGLE,CA,12/31/2000 22:00,"Capitola,CA"
18235,Fountain Hills,NaN,NaN,AZ,12/31/2000 23:00,"Fountain Hills,AZ"
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00,"Grant Park,IL"
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00,"Spirit Lake,IA"
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45,"Eagle River,WI"
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45,"Eagle River,WI"
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59,"Ybor,FL"

In [29]:
ufo_cols=["City12",'Colorrs_Reported44',"Shape_reported66","state11","time13","Location15"]
ufo.columns=ufo_cols
ufo.columns

Index(['City12', 'Colorrs_Reported44', 'Shape_reported66', 'state11', 'time13',
       'Location15'],
      dtype='object')

In [30]:
ufo

,City12,Colorrs_Reported44,Shape_reported66,state11,time13,Location15
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca,NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro,NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke,CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene,KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair,NY"
5,Valley City,NaN,DISK,ND,9/15/1934 15:30,"Valley City,ND"
6,Crater Lake,NaN,CIRCLE,CA,6/15/1935 0:00,"Crater Lake,CA"
7,Alma,NaN,DISK,MI,7/15/1936 0:00,"Alma,MI"
8,Eklutna,NaN,CIGAR,AK,10/15/1936 17:00,"Eklutna,AK"
9,Hubbard,NaN,CYLINDER,OR,6/15/1937 0:00,"Hubbard,OR"
10,Fontana,NaN,LIGHT,CA,8/15/1937 21:00,"Fontana,CA"
11,Waterloo,NaN,FIREBALL,AL,6/1/1939 20:00,"Waterloo,AL"
12,Belton,RED,SPHERE,SC,6/30/1939 20:00,"Belton,SC"
13,Keokuk,NaN,OVAL,IA,7/7/1939 2:00,"Keokuk,IA"
14,Ludington,NaN,DISK,MI,6/1/1941 13:00,"Ludington,MI"
15,Forest Home,NaN,CIRCLE,CA,7/2/1941 11:30,"Forest Home,CA"
16,Los Angeles,NaN,NaN,CA,2/25/1942 0:00,"Los Angeles,CA"
17,Hapeville,NaN,NaN,GA,6/1/1942 22:30,"Hapeville,GA"
18,Oneida,NaN,RECTANGLE,TN,7/15/1942 1:00,"Oneida,TN"
19,Bering Sea,RED,OTHER,AK,4/30/1943 23:00,"Bering Sea,AK"
20,Nebraska,NaN,DISK,NE,6/1/1943 15:00,"Nebraska,NE"
21,NaN,NaN,NaN,LA,8/15/1943 0:00,NaN
22,NaN,NaN,LIGHT,LA,8/15/1943 0:00,NaN
23,Owensboro,NaN,RECTANGLE,KY,10/15/1943 11:00,"Owensboro,KY"
24,Wilderness,NaN,DISK,WV,1/1/1944 10:00,"Wilderness,WV"
25,San Diego,NaN,CIGAR,CA,1/1/1944 12:00,"San Diego,CA"
26,Wilderness,NaN,DISK,WV,1/1/1944 12:00,"Wilderness,WV"
27,Clovis,NaN,DISK,NM,4/2/1944 11:00,"Clovis,NM"
28,Los Alamos,NaN,DISK,NM,6/1/1944 12:00,"Los Alamos,NM"
29,Ft. Duschene,NaN,DISK,UT,6/30/1944 10:00,"Ft. Duschene,UT"
...,...,...,...,...,...,...
18211,Holyoke,NaN,DIAMOND,MA,12/28/2000 18:00,"Holyoke,MA"
18212,Carson,NaN,DISK,CA,12/28/2000 18:20,"Carson,CA"
18213,Pasadena,GREEN,FIREBALL,CA,12/28/2000 19:10,"Pasadena,CA"
18214,Austin,NaN,FORMATION,TX,12/29/2000 0:00,"Austin,TX"
18215,El Campo,NaN,OTHER,TX,12/29/2000 9:00,"El Campo,TX"
18216,Garden Grove,ORANGE,LIGHT,CA,12/29/2000 16:10,"Garden Grove,CA"
18217,Berthoud Pass,NaN,TRIANGLE,CO,12/29/2000 19:30,"Berthoud Pass,CO"
18218,Sisterdale,NaN,DIAMOND,TX,12/29/2000 20:00,"Sisterdale,TX"
18219,Garden Grove,NaN,CHEVRON,CA,12/29/2000 20:30,"Garden Grove,CA"
18220,Shasta Lake,BLUE,DISK,CA,12/29/2000 20:30,"Shasta Lake,CA"
18221,Franklin,NaN,DISK,NH,12/29/2000 20:50,"Franklin,NH"
18222,Albrightsville,NaN,OTHER,PA,12/29/2000 21:00,"Albrightsville,PA"
18223,Greenville,NaN,NaN,SC,12/29/2000 22:00,"Greenville,SC"
18224,Eufaula,NaN,DISK,OK,12/29/2000 23:30,"Eufaula,OK"
18225,Simi Valley,NaN,FORMATION,CA,12/30/2000 10:00,"Simi Valley,CA"
18226,San Francisco,NaN,FORMATION,CA,12/30/2000 22:00,"San Francisco,CA"
18227,San Francisco,NaN,TRIANGLE,CA,12/30/2000 22:00,"San Francisco,CA"
18228,Kingsville,NaN,LIGHT,TX,12/31/2000 4:00,"Kingsville,TX"
18229,Chicago,NaN,DISK,IL,12/31/2000 11:45,"Chicago,IL"
18230,Pismo Beach,NaN,OVAL,CA,12/31/2000 20:00,"Pismo Beach,CA"
18231,Pismo Beach,NaN,OVAL,CA,12/31/2000 20:00,"Pismo Beach,CA"
18232,Lodi,NaN,NaN,WI,12/31/2000 20:30,"Lodi,WI"
18233,Anchorage,RED,VARIOUS,AK,12/31/2000 21:00,"Anchorage,AK"
18234,Capitola,NaN,TRIANGLE,CA,12/31/2000 22:00,"Capitola,CA"
18235,Fountain Hills,NaN,NaN,AZ,12/31/2000 23:00,"Fountain Hills,AZ"
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00,"Grant Park,IL"
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00,"Spirit Lake,IA"
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45,"Eagle River,WI"
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45,"Eagle River,WI"
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59,"Ybor,FL"

In [32]:
ufo_cols=["City11",'Colorrs_Reported12',"Shape_reported13","state14","time15"]
ufo=pd.read_csv('http://bit.ly/uforeports',header=0,names=ufo_cols)
ufo

,City11,Colorrs_Reported12,Shape_reported13,state14,time15
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
5,Valley City,NaN,DISK,ND,9/15/1934 15:30
6,Crater Lake,NaN,CIRCLE,CA,6/15/1935 0:00
7,Alma,NaN,DISK,MI,7/15/1936 0:00
8,Eklutna,NaN,CIGAR,AK,10/15/1936 17:00
9,Hubbard,NaN,CYLINDER,OR,6/15/1937 0:00
10,Fontana,NaN,LIGHT,CA,8/15/1937 21:00
11,Waterloo,NaN,FIREBALL,AL,6/1/1939 20:00
12,Belton,RED,SPHERE,SC,6/30/1939 20:00
13,Keokuk,NaN,OVAL,IA,7/7/1939 2:00
14,Ludington,NaN,DISK,MI,6/1/1941 13:00
15,Forest Home,NaN,CIRCLE,CA,7/2/1941 11:30
16,Los Angeles,NaN,NaN,CA,2/25/1942 0:00
17,Hapeville,NaN,NaN,GA,6/1/1942 22:30
18,Oneida,NaN,RECTANGLE,TN,7/15/1942 1:00
19,Bering Sea,RED,OTHER,AK,4/30/1943 23:00
20,Nebraska,NaN,DISK,NE,6/1/1943 15:00
21,NaN,NaN,NaN,LA,8/15/1943 0:00
22,NaN,NaN,LIGHT,LA,8/15/1943 0:00
23,Owensboro,NaN,RECTANGLE,KY,10/15/1943 11:00
24,Wilderness,NaN,DISK,WV,1/1/1944 10:00
25,San Diego,NaN,CIGAR,CA,1/1/1944 12:00
26,Wilderness,NaN,DISK,WV,1/1/1944 12:00
27,Clovis,NaN,DISK,NM,4/2/1944 11:00
28,Los Alamos,NaN,DISK,NM,6/1/1944 12:00
29,Ft. Duschene,NaN,DISK,UT,6/30/1944 10:00
...,...,...,...,...,...
18211,Holyoke,NaN,DIAMOND,MA,12/28/2000 18:00
18212,Carson,NaN,DISK,CA,12/28/2000 18:20
18213,Pasadena,GREEN,FIREBALL,CA,12/28/2000 19:10
18214,Austin,NaN,FORMATION,TX,12/29/2000 0:00
18215,El Campo,NaN,OTHER,TX,12/29/2000 9:00
18216,Garden Grove,ORANGE,LIGHT,CA,12/29/2000 16:10
18217,Berthoud Pass,NaN,TRIANGLE,CO,12/29/2000 19:30
18218,Sisterdale,NaN,DIAMOND,TX,12/29/2000 20:00
18219,Garden Grove,NaN,CHEVRON,CA,12/29/2000 20:30
18220,Shasta Lake,BLUE,DISK,CA,12/29/2000 20:30
18221,Franklin,NaN,DISK,NH,12/29/2000 20:50
18222,Albrightsville,NaN,OTHER,PA,12/29/2000 21:00
18223,Greenville,NaN,NaN,SC,12/29/2000 22:00
18224,Eufaula,NaN,DISK,OK,12/29/2000 23:30
18225,Simi Valley,NaN,FORMATION,CA,12/30/2000 10:00
18226,San Francisco,NaN,FORMATION,CA,12/30/2000 22:00
18227,San Francisco,NaN,TRIANGLE,CA,12/30/2000 22:00
18228,Kingsville,NaN,LIGHT,TX,12/31/2000 4:00
18229,Chicago,NaN,DISK,IL,12/31/2000 11:45
18230,Pismo Beach,NaN,OVAL,CA,12/31/2000 20:00
18231,Pismo Beach,NaN,OVAL,CA,12/31/2000 20:00
18232,Lodi,NaN,NaN,WI,12/31/2000 20:30
18233,Anchorage,RED,VARIOUS,AK,12/31/2000 21:00
18234,Capitola,NaN,TRIANGLE,CA,12/31/2000 22:00
18235,Fountain Hills,NaN,NaN,AZ,12/31/2000 23:00
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

In [33]:
ufo.columns=ufo.columns.str.replace("_"," ")
ufo

,City11,Colorrs Reported12,Shape reported13,state14,time15
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
5,Valley City,NaN,DISK,ND,9/15/1934 15:30
6,Crater Lake,NaN,CIRCLE,CA,6/15/1935 0:00
7,Alma,NaN,DISK,MI,7/15/1936 0:00
8,Eklutna,NaN,CIGAR,AK,10/15/1936 17:00
9,Hubbard,NaN,CYLINDER,OR,6/15/1937 0:00
10,Fontana,NaN,LIGHT,CA,8/15/1937 21:00
11,Waterloo,NaN,FIREBALL,AL,6/1/1939 20:00
12,Belton,RED,SPHERE,SC,6/30/1939 20:00
13,Keokuk,NaN,OVAL,IA,7/7/1939 2:00
14,Ludington,NaN,DISK,MI,6/1/1941 13:00
15,Forest Home,NaN,CIRCLE,CA,7/2/1941 11:30
16,Los Angeles,NaN,NaN,CA,2/25/1942 0:00
17,Hapeville,NaN,NaN,GA,6/1/1942 22:30
18,Oneida,NaN,RECTANGLE,TN,7/15/1942 1:00
19,Bering Sea,RED,OTHER,AK,4/30/1943 23:00
20,Nebraska,NaN,DISK,NE,6/1/1943 15:00
21,NaN,NaN,NaN,LA,8/15/1943 0:00
22,NaN,NaN,LIGHT,LA,8/15/1943 0:00
23,Owensboro,NaN,RECTANGLE,KY,10/15/1943 11:00
24,Wilderness,NaN,DISK,WV,1/1/1944 10:00
25,San Diego,NaN,CIGAR,CA,1/1/1944 12:00
26,Wilderness,NaN,DISK,WV,1/1/1944 12:00
27,Clovis,NaN,DISK,NM,4/2/1944 11:00
28,Los Alamos,NaN,DISK,NM,6/1/1944 12:00
29,Ft. Duschene,NaN,DISK,UT,6/30/1944 10:00
...,...,...,...,...,...
18211,Holyoke,NaN,DIAMOND,MA,12/28/2000 18:00
18212,Carson,NaN,DISK,CA,12/28/2000 18:20
18213,Pasadena,GREEN,FIREBALL,CA,12/28/2000 19:10
18214,Austin,NaN,FORMATION,TX,12/29/2000 0:00
18215,El Campo,NaN,OTHER,TX,12/29/2000 9:00
18216,Garden Grove,ORANGE,LIGHT,CA,12/29/2000 16:10
18217,Berthoud Pass,NaN,TRIANGLE,CO,12/29/2000 19:30
18218,Sisterdale,NaN,DIAMOND,TX,12/29/2000 20:00
18219,Garden Grove,NaN,CHEVRON,CA,12/29/2000 20:30
18220,Shasta Lake,BLUE,DISK,CA,12/29/2000 20:30
18221,Franklin,NaN,DISK,NH,12/29/2000 20:50
18222,Albrightsville,NaN,OTHER,PA,12/29/2000 21:00
18223,Greenville,NaN,NaN,SC,12/29/2000 22:00
18224,Eufaula,NaN,DISK,OK,12/29/2000 23:30
18225,Simi Valley,NaN,FORMATION,CA,12/30/2000 10:00
18226,San Francisco,NaN,FORMATION,CA,12/30/2000 22:00
18227,San Francisco,NaN,TRIANGLE,CA,12/30/2000 22:00
18228,Kingsville,NaN,LIGHT,TX,12/31/2000 4:00
18229,Chicago,NaN,DISK,IL,12/31/2000 11:45
18230,Pismo Beach,NaN,OVAL,CA,12/31/2000 20:00
18231,Pismo Beach,NaN,OVAL,CA,12/31/2000 20:00
18232,Lodi,NaN,NaN,WI,12/31/2000 20:30
18233,Anchorage,RED,VARIOUS,AK,12/31/2000 21:00
18234,Capitola,NaN,TRIANGLE,CA,12/31/2000 22:00
18235,Fountain Hills,NaN,NaN,AZ,12/31/2000 23:00
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

In [34]:
ufo.columns

Index(['City11', 'Colorrs Reported12', 'Shape reported13', 'state14',
       'time15'],
      dtype='object')

In [2]:
drinks=pd.read_csv('http://bit.ly/drinksbycountry')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [3]:
drinks.drop('continent',axis=1).head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9

drinks.mean(